[Unit]
Description=Door opener

[Service]
ExecStart=/home/pi/door/server.py
User=pi
Group=pi
Restart = always
RestartSec = 5s

[Install]
WantedBy=default.target
